@charset "UTF-8";

/*@media screen and (min-width: 767px){*/
    article{
        margin-top: 120px;
        margin-bottom: 40px;
    }

    .funcbox{
        border: 1px solid darkgray;
        margin-bottom: 30px;
        padding: 10px;
    }

    .funcbox h1{
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .funcbox input{
        display: inline;
    }

    input[type="text"],input[type="password"]{
        width: 500px;
        height: 25px;
        border: 1px solid darkgray;
        border-radius: 3px;
        box-shadow: none;
        padding-left: 10px;
    }

    input[type="button"]{
        width: 300px;
        height: 30px;
        background-color: #A58F86;
        margin: 0 auto;
        color: white;
        border: none;
    }

    input[type="button"]:hover{
        background-color: #c2a99f;
    }

/*}*/
