@charset "UTF-8";

/*@media screen and (min-width: 767px){*/

    article{
        margin-top: 120px;
        margin-bottom: 30px;
        text-align: center;
        height: 500px;
        background-color: #666;
        position: relative;
    }

    article h1{
        color: white;
        text-align: center;
        font-size: 10em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    #functions{
        display: flex;
        margin-bottom: 40px;
    }

    .funcbox{
        border: 1px solid darkgray;
        padding: 20px 25px;
        margin: 0 auto;
        text-align: center;
    }

    .funcbox h1{
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    input[type="button"]{
        width: 300px;
        height: 30px;
        background-color: #A58F86;
        margin: 0 auto;
        margin-bottom: 3px;
        color: white;
        border: none;
    }

    input[type="button"]:hover{
        background-color: #c2a99f;
    }

    .glitch{
        position: relative;
        width: 352px:
    }

    .glitch-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

/*}*/
