@charset "UTF-8";

/*@media screen and (min-width: 767px){*/

    article{
        margin-top: 120px;
        margin-bottom: 30px;
        text-align: center;
    }

    #signup{
        border: 1px solid darkgray;
        width: 350px;
        height: 500px;
        margin: 0 auto;
        position: relative;
    }

    .inner{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: left;
    }

    #signup .top{
        font-size: 1.5em;
        white-space: nowrap;
        margin-bottom: 30px;
    }

    .inputbox{
        margin: 20px 0;
    }

    .inputbox h1{
        margin-bottom: 10px;
    }

    input[type="text"],input[type="password"]{
        width: 288px;
        height: 25px;
        border: 1px solid darkgray;
        border-radius: 3px;
        box-shadow: none;
        padding-left: 10px;
    }

    input[type="button"]{
        width: 300px;
        height: 30px;
        background-color: #A58F86;
        margin: 0 auto;
        margin-bottom: 3px;
        color: white;
        border: none;
    }

    input[type="button"]:hover{
        background-color: #c2a99f;
    }

    .note{
        border-top: 1px solid darkgray;
        margin-top: 30px;
    }

/*}*/
