@charset "UTF-8";

li{
    list-style-type: none;
}

.clear{
    clear: both;
}

@media screen and (min-width: 767px){
  /*BASE*/
  .container{
    width: 70%;
    margin: 0 auto;
  }

  /*HEADER*/
  header{
      height: 80px;
      width: 100%;
      background-color: white;
      border-bottom: solid 1px darkgrey;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
  }

  header img{
      margin: 5px 0;
  }

  header .left{
      float: left;
  }

  header .right{
      float: right;
  }

  /*DON'T LET ME DOWN*/
  article{
    margin-top: 100px;
    text-align: center;
  }

  /*SIGN-IN*/
  #signin{
    border: 1px solid darkgray;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    position: relative;
  }

  .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  #cercle{
    height: 150px;
    width: 150px;
    border: 1px solid darkgray;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
  }

  #cercle h1{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  #button{
    width: 200px;
    height: 50px;
  }

}
