@charset "UTF-8";

li{
    list-style-type: none;
}

.clear{
    clear: both;
}

@media screen and (min-width: 767px){
    /*BASE*/
    .container{
        width: 70%;
        min-width: 960px;
        margin: 0 auto;
    }

    .flexBox{
      display: flex;
    }

    h1{
        font-size: 2rem;
    }

    /*HEADER*/
    header{
        height: 80px;
        width: 100%;
        background-color: white;
        border-bottom: solid 1px darkgrey;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    header img{
        margin: 5px 0;
    }

    header .left{
        float: left;
    }

    header .right{
        float: right;
    }

    /*MAIV VISUAL*/
    #mainVisual{
        margin-top: 100px;
    }

    #mainVisual img{
        width: 100%;
        height: auto;
    }

    #mainVisual li{
        height:auto;
    }

    /*SIDE MENU*/
    #sideMenu{
        float: left;
        width: 25%;
        margin-top: 80px;
        border: solid 1px darkgray;
        text-align: center;
    }

    #sideMenu .container{
        width:87.5%;
    }

    #sideMenu h1{
        font-size: 2rem;
    }

        /*SEARCH BOX*/
        #sideMenu input[name="search"]{
            text-align: center;
            width: 80%;
            height: 10vh;
            min-height: 60px;
            margin: 2vh 0 2vh 0;
        }

        /*GENDER*/
        #switch{
            display: flex;
            width: 80%;
            margin: 0 auto;
        }


        #switch .button{
            border: solid 1px darkgray;
            margin: 0 auto;
            height: 4vw;
            width: 4vw;
            min-height: 60px;
            min-width: 60px;
            position: relative;
            margin-bottom: 2vh;
            background-color: white;
        }

        #switch .button.active{
            border: solid 1px darkgray;
            margin: 0 auto;
            height: 4vw;
            width: 4vw;
            min-height: 60px;
            min-width: 60px;
            position: relative;
            margin-bottom: 2vh;
            background-color: darkgray;
        }

        #switch .button:first-child{
            margin-left: 0;
        }

        #switch .button:last-child{
            margin-right: 0;
        }

        #switch p{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        /*ITEMS*/
        #checkBox{
            width: 80%;
            margin: 0 auto;
        }

        #checkBox ul{
            text-align: left;
        }

        #checkBox li{
            margin: 10px;
            position: relative;
        }

        input[type=checkbox]{
            display: none;
        }

        label{
            padding: 0 0 0 40px;
        }

        input[type=checkbox] + label::before{
            content: "";
            border: 1px solid darkgray;
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
        }

        input[type=checkbox]:checked + label::before{
            content: "";
            height:10px;
            width: 10px;
            border: 1px solid darkgray;
            background-color: darkgray;
        }

        /*PRICE*/
        #price .tilde{
            transform: rotate(90deg);
        }

    /*MAIN ARTICLE*/
    article{
        float: right;
        margin-top: 80px;
        width: 70%;
    }

    article h1{
        border-bottom: 1px solid darkgray;
    }

    article h2{
        text-align: right;
    }

    .topicBox, .newBox, .rateBox, .madeBox{
        border: 1px solid darkgray;
    }
}
